<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><div id="cuerpo">
      <h1>Bienvenido a <%= title %></h1>
      <p> En esta plataforma podrá entretenerse contestando diferentes preguntas del cuestionario. </p>

      <p><a href="/quizes/question"> Comience a jugar </a></p>
    </div></center>
  </body>
</html>
