<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Respuesta</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><div id="answer">
      <h2>QuizULL: El juego de las preguntas.</h2>

      <%= respuesta %><p>
      <a href="/quizes/question"> Nueva pregunta </a>
    </div></center>
  </body>
</html>
